<div class="container">
  <% if user_signed_in? %>
    <div class="user-box">
      <%= attachment_image_tag current_user, :image, fallback: "no-image.jpg", size:"60x60", id: "round-user-image" %>
	  <p>Welcome!</p>
	  <%= link_to current_user.name, user_path(current_user), class: "user-name" %>
	  <%= link_to user_path(current_user) do %>
	    <div>
	      <%= fa_icon "bell-o"%>
		</div>
		<% if exist_unchecked_notifications %>
		  <i class="fa fa-circle notification-circle"></i>
		<% end %>
	  <% end %>
	</div>
  <% end %>
</div>
