<h1> Successfully Done. Thank you for contacting me.</h1>

<h3>name: <%= @contact.name %></h3>

<h3>Confirmation of inquiry contents </h3>

<p>content: <%= @contact.content %></p>

<!-- http://localhost:3000/letter_opener -->