<!DOCTYPE html>
<html>
  <head>
    <title>aaaaa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <div class="header-logo">
      <a href="/" title="header-logo">
        <img src="/assets/logo.jpg" alt="[Logo]whale shark">
      </a>
    </div>
    <nav>
    <ul>
      <!-- link_toに変える -->
      <li><a href="/">Top</a></li>
      <li><a href="/">Sign up</a></li>
    </ul>
    </nav>
  </header>
  <body>
  <div class=wrapper>
	<div class="section">
		<div class="mainvisual">
			
		</div>
	</div>
	<div class="section">
		
	</div>
	<div class="section">
		
	</div>
	<div class="section">
		
	</div>
	
</div>

  </body>
  <footer>
    <div class="footer-logo">
      <a href="/" title="footer-logo">
        <img src="/assets/logo2.jpg" alt="[Logo]whale shark">
      </a>
    </div>
  </footer>
</html>