<div class="welcome-image">
  <div id="welcome-wrapper">
    <p class="first-text">Long Time No See</p>
    <p class="second-text"><i>Thank You For Coming</i></p>
    <p class="third-text"><i>Kumsuta ka？</i><p>
    <div class="welcome-logo">
	  <%= image_tag 'logo.jpg', alt: "[Logo]whale shark" %>
    </div>
    <div class="welcome-btn">
	  <%= link_to "Welcome to segurado!", posts_path , data: { "turbolinks" => false }, class: "btn-success btn-lg" %>
    </div>
  </div>
</div>