// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: #FFFFEE;
}

.section {
	height: 700px;
}

.mainvisual {
	height: 100%;
	background-image: url(/assets/roman-kraft-0EVKn3-5JSU-unsplash.jpg);
	background-size: 100%;
}

