// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*トップページヘッダー&メインセクション*/

.mainvisual {
	height: 100%;
	background-image: url(/assets/shakehands.jpg);
	background-size: 100%;
}

.shake-hands {
	height: 500px;
}

.catch-copy {
	font-size: 100px;
	text-align: center;
	margin-top: 200px;
	font-family: 'Sawarabi Mincho', sans-serif;
}

/*ーーーーーーーーーーーーーーーー*/

.about-text {
	font-size: 80px;
	text-align: center;
	padding-top: 200px;
	font-family: 'Sawarabi Mincho', sans-serif;
}

.post-section {
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	height: 700px;
}


.post-img {
	background-image: url(/assets/cebu.jpg);
	height: 400px;
	width: 400px;
	background-size: cover;
	border-radius: 50% 50% 50% 50%;


}

.post-text {
	margin: 0 6em;

}

.post-text p {
	font-size: 50px;
	align-items: center;

}

.recruit-section {
	display: flex;
	background-color: #00FFFF;
	justify-content: center;
	align-items: center;
	height: 700px;
}


.recruit-img {
	background-image: url(/assets/japan.jpg);
	height: 500px;
	background-size:100% 100%;
	border-radius: 50% 50% 50% 50%;
	height: 400px;
	width: 400px;
}

.recruit-text {
	margin: 0 6em;
}

.recruit-text p {
	font-size: 50px;
}



.section {
	height: 700px;
}

.big-char {
	font-size: 80px;
	font-weight: bold;
}
