// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*トップページヘッダー&メインセクション*/

.mainvisual {
	height: 100%;
	background-image: url(/assets/roman-kraft-0EVKn3-5JSU-unsplash.jpg);
	background-size: 100%;
}

.shake-hands {
	height: 500px;
}

.catch-copy {
	font-size: 100px;
	text-align: center;
	margin-top: 200px;
	font-family: 'Sawarabi Mincho', sans-serif;
}

/*ーーーーーーーーーーーーーーーー*/

.wrapper {
	background-color: #FFFFEE;
}


.section {
	height: 700px;
}
