// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match {
	height: auto;
	background-color: #00FFFF;
}


/*一覧*/

.match-title {
	font-size: 20px;
	}

.match-title-wrapper {
	border-radius: 10px 10px 10px 10px;
	background-color: #00FFFF;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
}

.match-occupation {
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 20px;
	background-color: yellow;
	text-align: center;
}

.match-text {
	font-size: 18px;
}



.match-margin {
	margin-bottom: 1em;
	margin-top: 1em;
}

.match-new-occupation {
	margin-top: 2em;
	margin-bottom: 1em;
}


