// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






.logo-post {
	border-radius: 50% 50% 50% 50%;
	height: 80px;
	width: 80px;
	border: 3px solid #5D99FF;
	opacity: 0.7;
	position: fixed;
	right: 40px;
	top: 30px;
}

.post-index {
	height: auto;
}

/*ランキング*/

.best {
	font-size: 40px;
}


.rank img {
	height: 60px;
	width: 60px;
	margin-bottom: 1em;
}

.rank-title {
	text-align: center;
	background-color: #FF6633;
	margin: 0 auto;
	width: 300px;
	margin-top: 3em;
	margin-bottom: 2em;
}

/**天気*/


.weather-thead {
	background-color: #00FFFF;
	text-align: center;
	font-size: 20px;
}

.city-name {
	text-align: center;
	font-size: 18px;
}

.weather-icon {
	text-align: center;
}

.temp {
	text-align: center;
	font-size: 35px;
}

.weather-title {
	text-align: center;
	font-size: 25px;
	margin-top: 4em;
	margin-bottom: 2em;
}

/*新規投稿*/



.image-field {
	margin-bottom: 1em;
	margin-top:  1em;
}

.upload-image {
	margin-top:  2em;

}



.btn-post {
	margin-top: 1em;
	margin-bottom: 1em;
}

.new-post-title {
	text-align: center;
	background-color: #0099FF;
}


/*投稿一覧*/


.post-index-title {
	text-align: center;
	background-color: #0099FF;
	margin-top: 3em;
	margin-bottom: 2em;
}


.post-index-more {
	background-color: yellow;
	text-align: center;
	margin-top: 1em;
}

.post-index-post-text {
	margin-top: 1em;
	margin-bottom: 1em;
	word-wrap: break-word;
}


.post-index-user-image {
	margin-top: 2em;
	border-radius: 50%;
}

.post-index-user-name {
	text-align: center;
	margin-top: 5px;

}

.comment-count {
	font-size: 20px;
}



/*投稿詳細*/

.post-show-image {
	margin-top: 3em;
	margin-bottom: 1em;
}

.post-show-name {
	text-align: center;
	margin-left: 42px;
}


.post-show-title {
	text-align: center;
	background-color: #CCCC33;
}



/*  投稿編集*/

.edit-title {
	text-align: center;
	background-color: #B8860B;
}


.post-image-filed {
	margin-top: 1em;
	margin-bottom: 1em;
}


.post-show-text {
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 20px;
	word-wrap: break-word;
}

.like-btn {
	font-size: 20px;
}

.post-show-edit-btn {
	margin-top: 1em;
}

.post-show-user-image {
	margin-top: 1em;
}

.post-edit-image {
	margin-top: 2em;
  	margin-bottom: 1em;
}

/*コメント*/

.comment-title {
	text-align: center;
	background-color: #87CEFA;
}


.comment-btn {
	margin-bottom: 2em;
}

.comment-title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 1em;
}

.comment-delete-btn {
	margin-top: 1em;
}

.comment-text {
	font-size: 20px;
	word-wrap: break-word;
	margin-top: 1em;
}

.comment-panel {
	text-align: center;
}


