// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box_design {
 margin: 2em auto;
 padding: 1em 1.5em;
 width: 90%; /*幅の調節*/
 color: #777777; /* 文字色 */
 background-color: #fff; /* 背景色 */
 border: 4px solid #f6bfbc; /*線の太さ・色*/
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}





.logo-post {
	border-radius: 50% 50% 50% 50%;
	height: 80px;
	width: 80px;
	border: 3px solid #5D99FF;
	opacity: 0.7;
	position: fixed;
	right: 40px;
	top: 30px;
}

.post-index {
	height: auto;
}

/*新規投稿*/

.box {
	padding: 0.5em 1em;
    margin: 2em 0;
    background: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    position: relative;
    margin-top: 100px;
}

.title {
	text-align: center;
}


.upload-image {
	margin: 2em auto;
}

.btn-post {
	margin: 0 0 0 auto;
}


/*  ランキング　　*/
.rank img {
	height: 50px;
	width: 50px;
}

/*投稿一覧*/



/*投稿詳細*/




/*  投稿編集*/

.edit_post {
	display: flex;
	justify-content: center;
}


/*コメント*/

